.skills{
    padding: 0 90px ;
}

.modal-content{
    /* fallback for old browsers */
    background: #b4a9d6;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #b4a9d6, #896dde);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #b4a9d6, #896dde)
    }


